page-setting {

    .red-text {
       color: #ff0000;
    }
     .green-text {
       color: #4caf50;
    }
    .pull-left {
        margin-left: 100px !important;
        
    }
    .pull-right {
        margin-left: 124px !important;
        
    }
  
}
